 {
  "extends": [
    "eslint:recommended", 
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "commonjs": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "@emotion"
  ],
  "rules": {
    "object-curly-spacing": [2, "always"],
    "no-unused-vars":"warn",
    "@emotion/pkg-renaming": "error",
    "@emotion/jsx-import": "error",
    "@emotion/no-vanilla": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/styled-import": "error"
  },
  "settings": {
    "react" : {
      "version": "detect"
    }
  }
}