/* landingPage.module.css */
.scribble,
.scribble2  {
  position: absolute;
}

/* background */
.background {
  background-image: url(../static/images/landingBackground.svg);
  /* background from svgbackrounds */
  background-size: cover;
}

/* text containers */
.titleContainer,
.about {
  grid-column-start: 3;
  grid-column-end: 61;
  z-index: 1;
}
.name,
.message,
.about {
  display:block;
  color: #E9F1E6;
  text-shadow: 2px 2px #ff073a;
}

.titleContainer {
  padding-right: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-25%);
}
.titleContainer::after{
  content: url(../static/images/82.svg);
  position: absolute;
  left: 50%;
}

.name {
  animation: fadeIn--left 700ms ease-out 150ms;
  animation-fill-mode: both;
  color: #FFFF00;
  font-size: calc(4.75rem + 4vmin);
  font-weight: 700;
}

.message {
  animation: fadeIn--right 700ms ease-out 900ms;
  animation-fill-mode: both;
  display: block;
  font-size: calc(2.5rem + 1vmin);
  font-weight: 375;
  letter-spacing: .25vw;
}

.about {
  font-size: 1.25rem;
  letter-spacing: .1ch;
  line-height: 1.25rem;
  padding-bottom: 1rem;
  display: inline;
}

.blog {
  text-decoration: none;
}
.blog:visited {
  color: crimson;
}
.blog:focus {
  box-shadow: 
    0 0 0 5px whitesmoke
    0 0 0 10px cornflowerblue;
}

@keyframes fadeIn--left {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  85% {
    opacity: 1;
    transform: translateX(3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn--right {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  85% {
    opacity: 1;
    transform: translateX(-3px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 48em) {
  .background{
    clip-path: none;
  }
  .titleContainer,
  .about {
    grid-column-start: 10;
    grid-column-end: 50;
  }
  .titleContainer {
    place-self: center;
    transform: translateY(-50%);
  }
  .titleContainer::after {
    left:100%;
    top: 100%;
  }
  .about {
    position: relative;
    bottom: 25vh;
  }
}