.nav {
  /* background-color: white; */
  display: flex;
  flex-direction: row-reverse;
} 

#container {
  list-style: none;
  display: flex;
}

li {
  margin: 1em;
}

.nav_tab {
  position: relative;
  display: inline-block;
  font-size: 2em;
  color: royalblue;
  /* color: black; */
  font-weight: 800;
  text-decoration: none;
  overflow: hidden;
}
.nav_tab span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 275ms ease;
}
.nav_tab span::before {
  display: inline-block;
  content: attr(data-content);
  color: midnightblue;
  /* color: white; */
  transform: translateX(100%);
  transition: transform 275ms ease;
  text-decoration: underline;
}
.nav_tab:hover span {
  transform: translateX(0);
}
.nav_tab:hover span::before {
  transform: translateX(0);
}
.nav_tab .title {
  align-self: flex-end;
}
