#footer--container {
  background-color: var(--bg-secondary-color);
  clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);;
  min-height: 15rem;
  padding-top: 6rem;
  overflow: hidden;
  width: 100%;
}