
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --bg-primary-color: #116ABD;
}

html { 
  scroll-behavior: smooth; 
} 

p {
  max-width: 45ch;
}

.App {
  text-align: center;
}

.center {
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > h2 {
  margin-top: 2.5em;
}

.flex-col-center-X {
  align-items: center;
}

.skill-icon {
  width: 2rem;
  height: 2rem;
}

.flex-center-XY {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.space-evenly {
  justify-content: space-evenly;
}

.vh-100 {
  min-height: 100vh;
}

.hide-on-small-screen {
  visibility: hidden;
}

.relative {
  position: relative;
}

/* Table of contents 
  * 1. Contact Form
  * 2. Tooltip
  * 3. Tilt
*/


/** 2. Contact Form & Page related stuff */
#contactContainer {
  min-height: 80vh;
  padding: 5rem 1rem 1rem;
}

#contactSubtext {
  margin: 1em;
}

#contact-form {
  margin: 0 15rem;
  display: grid;
  grid-template-areas: 
    "text text"
    "message message";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#contact-form > input {
  grid-area: text;
}

#message-field {
  grid-area: message;
}

/** Footer */

#footer--container {
  margin: 1rem auto 4rem;
  width: 90%;
}

/** Tooltip*/

.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltip .tooltip--bottom {
  width: fit-content; 
  top:40px;
  left:50%;
  transform:translate(-50%, 0);
  padding: .5em .75em;
  color:#FFFFFF;
  background-color:#888888;
  font-weight: 650;
  font-size:.8rem;
  border-radius:8px;
  position:absolute;
  letter-spacing: .05em;
  z-index:999;
  box-shadow:0 0 1em #1f1f1f;
  display:none;
}

.tooltip:hover .tooltip--bottom {
  display: none;
}

#web-developer--image {
  float: left;
  shape-outside: circle(50%);
  width: 250px;
}


/* Larger screens */
@media screen and (min-width: 48em) {
  /** Tooltip */
  .tooltip:hover .tooltip--bottom {
    display:block;
  }
  /** Technologies */
  .hide-on-small-screen {
    visibility: visible;
  }
  /** Technology button*/
  .tech-btn {
    width: 5rem;
  }
  #landingPageBackround {
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 77%);
  }
}
