
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow:hidden; */
}

html { 
  scroll-behavior: smooth; 
} 

p {
  max-width: 45ch;
}

.App {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.vh-100 {
  min-height: 100vh;
}

.center {
  margin: auto;

}

/* Table of contents 
  * 1. Animations for react-transition-group
  * 2. Contact Form
*/

/** 1. animations for React-transition-group */
.skills-appear {
  opacity: 0;
}
.skills-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease;
}

/** 2. Contact Form & Page related stuff */
#contactContainer {
  min-height: 80vh;
  padding: 5rem 1rem 1rem;
}

#contactSubtext {
  margin: 1em;
}

#contact-form {
  margin: 0 15rem;
  display: grid;
  grid-template-areas: 
    "text text"
    "message message";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#contact-form > input {
  grid-area: text;
}

#message-field {
  grid-area: message;
}

