
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --bg-primary-color: hsl(240, 100%, 70%);
  --bg-secondary-color: hsl(209, 83%, 40%);
  --bg-tertiary-color: hsl(52, 100%, 93%);
  --scroll-down-color: hsl(0, 0%, 0%);
}

/** GENERAL STYLES */

html { 
  scroll-behavior: smooth; 
} 

p {
  width: clamp(45ch, 50%, 75ch);
}

body {
  background-color: hsl(75, 40%, 98%);
}



/** UTILITIES */
.grid--col,
.grid--row {
  display: grid;
}

.grid--col {
  grid-template-columns: repeat(64,1.5625%);
}
.grid--row {
  grid-template-rows: repeat(64,1.5625%);
}

.column, .row {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-wrap: wrap;
}

.column > h2 {
  margin-top: 2.5em;
}

.flex-col-center-X,
.flex-center-XY {
  align-items: center;
}

.flex-center-XY{
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.vh-50 {
  min-height: 50vh;
}

.vh-100 {
  min-height: 100vh;
}

.hide-on-small-screen {
  visibility: hidden;
}

.relative {
  position: relative;
}

/** STORE PAGES */
/* Table of contents 
  * 1. App
  * 2. ContactForm
  * 3. Footer
  * 4. Technology Skills
  * 5. Tooltip
*/

/** 1. App */
.App {
  text-align: center;
}

/** 2. Contact Form */
.contact-view--container{
  background-color: hsla(240, 100%, 70%, 0.651);
  clip-path: polygon(0px 0px, 100% 0px, 100% 55%, 0 51.12%);
  padding: 10em 0 40em;
}
.contact-form--container {
  display: grid;
  grid-template-columns: repeat(64,1.5625%);
  /* grid-template-rows: .25fr 1fr; */
}
.contact--subheader {
  grid-column-start: 12;
  grid-column-end: 54;
  font-size: 1rem;
  font-weight: 550;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: .125rem 0;
}
.contact--button {
  grid-column-start: 12;
  grid-column-end: 54;
}

.contact--message,
.contact--name,
.contact--email {
  grid-column-start: 5;
  grid-column-end: 61;
}

/** 3. FOOTER */
#footer--container {
  background-color: var(--bg-secondary-color);
  clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
  min-height: 15rem;
  padding-top: 6rem;
  overflow: hidden;
  width: 100%;
}

/** 4. Technology Skills */
#technology--container {
  /* background-color: var(--bg-tertiary-color); */
  /* clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%); */
  height: auto;
  padding-top: 5rem;
}
.skill-icon {
  width: 2rem;
  height: 2rem;
}

/** 5. Tooltip*/
.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted hsl(0, 0%, 40%);
  text-align:left;
}

.tooltip .tooltip--bottom {
  width: fit-content; 
  top:40px;
  left:50%;
  transform:translate(-50%, 0);
  padding: .5em .75em;
  color:hsl(0, 0%, 100%);
  background-color:hsl(0, 0%, 53%);
  font-weight: 650;
  font-size:.8rem;
  border-radius:8px;
  position:absolute;
  letter-spacing: .05em;
  z-index:999;
  box-shadow:0 0 1em #1f1f1f;
  display:none;
}

.tooltip:hover .tooltip--bottom {
  display: none;
}

/** 6. Scroll Down btn */
.scroll-down {
  animation: scroll-bounce 1s infinite alternate cubic-bezier(.22,.61,.36,1);
  border: 2px solid var(--scroll-down-color);
  border-radius: 100vh;
  cursor: pointer;
  height: 32px;
  grid-column-start: 1;
  grid-column-end: 64;
  justify-self: center;
  width: 32px;
}

.scroll-down:before {
  border: 2px solid var(--scroll-down-color);
  border-width: 0 0 2px 2px;
  content: "";
  height: 12px;
  left: calc(50% - 6px);
  position: absolute;
  top: calc(50% - 8px);
  transform: rotate(-45deg);
  width: 12px;
}

@keyframes scroll-bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

/** 7. Card*/
.dependency--item {
  margin: .25rem 1rem;
}


@keyframes tech-bounce {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  80% {
    transform: translateY(7.5%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}


/*! random image find something to do with this */
#web-developer--image {
  float: left;
  shape-outside: circle(50%);
  width: 250px;
}

/** Larger than tablet screens */
@media screen and (min-width: 48em) {
  /** Tooltip */
  .tooltip:hover .tooltip--bottom {
    display:block;
  }

  /** Technologies */
  .hide-on-small-screen {
    visibility: visible;
  }

  /** Technology view buttons */
  .tech-btn {
    width: 5rem;
  }
  .techTransitions-enter{
    opacity: 0;
  }
  .techTransitions-enter-active{
    animation: tech-bounce 500ms ease-in-out;
  }
  #landingPageBackround {
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 77%);
  }
  
  /** Contact Form*/
  .contact--name {
    grid-column-start: 12;
    grid-column-end: 32;
  }
  
  .contact--email {
    grid-column-start: 34;
    grid-column-end: 54;
  }
  .contact--message {
    grid-column-start: 12;
    grid-column-end: 54;
    margin-bottom: 1rem;
  }
}
